#food_tb{
width:500px;margin-left:50px;
}
#top_tb{
width:500px;
}
#shop_infro{
width:500px;margin-left:50px;
}
#bonus{
width:550px;margin-left:25px;
}
.top_pic_tr{
background-color:#FFCCCC;
}
.top4_pic{

}
.top_name{
font-size:13px;
}
.top_title{
background-color:#993300;color:#FFFFFF;height:30px;font-size:18px;
}
.tr_pic{
background-color:#FFCCFF;
}
.aboutmehint{
font-size:20px;font-variant:inherit;color:#FF0000;
}
.aboutme_td{
background-color:#CCCCCC;
}
.shop_infro_txt{

}
#item_name{


}
#item_infro{

color:#CC3300;
}
